<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @issue.subject %>
</p>

<p>
  <b>Status:</b>
  <%= @issue.status %>
</p>

<p>
  <b>Body:</b>
  <%= @issue.body %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
